-if logged_in?
  =render 'shared/nav'
-else
  =render 'shared/generic_nav'
=render partial: 'shared/businesses', locals: {count: @count, businesses: @businesses, current_page: @current_page, category: 'businesses'}
=render 'shared/footer'
