-if logged_in?
  =render 'shared/nav'
-else
  =render 'shared/generic_nav'
%main.business
  %section.clearfix
    %h2
      =@business.name.titleize
    -if logged_in?
      =link_to new_business_review_path(@business), { class: 'btn btn-danger'} do
        =fa_icon 'star'
        Write A Review
  %section
    %ul.business
      %li
        %div.rating
          %div.rating-box
            %div.rating{ style: "width: #{calculate_average_rating(@business.reviews)}%" }
          %span
            =pluralize(@business.reviews.length, 'review')
      %li
        %div.tags
          -if @business.price
            =create_price_tag(@business.price)
            %span.middot &middot
          -if @business.tags
            -tags = create_tags(@business.tags)
            -tags.each_with_index do |tag, index|
              =link_to tag, '#'
              -if index < tags.length - 1
                %span.middot &middot
      -if logged_in?
        %li
          =link_to edit_business_path(@business) do
            =fa_icon 'pencil'
            Edit This business
      %li
        =fa_icon 'phone'
        =@business.phone
      %li
        =fa_icon 'map-marker'
        #{@business.city.capitalize}, #{@business.state.capitalize}
    -if @business.reviews.size > 0
      %section
        %h3
          Reviews for #{@business.name.titleize}
        %ul.user-reviews
          -@reviews.each do |review|
            =render partial: 'shared/review', locals: { review: review }
          =render partial: 'shared/pagination', locals: { current_page: @current_page, count: @count }
    -else
      =render partial: 'shared/empty_content', locals: { category: 'reviews' }
=render 'shared/footer'
