=render 'shared/nav'
%main.edit-user.update
  %section.clearfix
    %section
      %h2
        Update Your Password
      =form_tag settings_user_path(@user), method: :patch, novalidate: true do
        %dl
          %dt
            =label_tag :c_pass, 'Current Password'
          %dd
            =password_field_tag :c_pass, nil, required: true
          %dt
            =label_tag :new_pass, 'New Password'
          %dd
            =password_field_tag :new_pass
          %dt
            =label_tag :v_pass, 'Verify New Password'
          %dd
            =password_field_tag :v_pass
          %dt
            %dd
              =submit_tag 'Save Password', class: 'btn btn-danger'
            %dd
              =link_to 'Cancel', user_path(@user), class: 'btn btn-outline-secondary'
            %dd{id: 'delete-container'}
              =link_to 'Delete Account', '#', id: 'delete', data: { toggle: 'modal', target: '#delete-modal' }
              %div.modal.fade{id: 'delete-modal', tabindex: '-1', role: 'dialog', aria: { labelledby: 'delete-modal', hidden: true }}
                %div.modal-dialog{ role: 'document' }
                  %div.modal-content
                    %div.modal-header
                      %h5.modal-title{id:'delete-modal-label'}
                        Are you sure you want to delete your account?
                      =button_tag type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { label: 'close' } do
                        =content_tag :span, aria: { hidden: true} do
                          &times;
                    %div.modal-footer
                      =button_tag 'Cancel', type: 'button', class: 'btn btn-outline-secondary', data: { dismiss: 'modal' }
                      =link_to 'Delete', user_path(@user), method: :delete, class: 'btn btn-danger'
    %aside.image
      %img{ src: 'https://s3-media4.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png', alt: 'drawing of a business'}
=render 'shared/footer'
