=render 'shared/nav'
%main.edit-user
  %section.clearfix
    %section
      %h2
        Update Your Profile
      =form_for @user do |f|
        -if @user.errors.any?
          %div{id: 'errors_explanation'}
            %h3.errors.alert.alert-danger
              Your account contains
              =pluralize(@user.errors.count, 'error')
            %ul
              -@user.errors.full_messages.each do |msg|
                -if msg == "Birthday"
                  %li
                    Invalid birthday
                -else
                  %li
                    #{msg}
        %dl
          %dt
            =f.label :first_name, 'First Name'
            %span (required)
          %dd
            =f.text_field :first_name, required: true

          %dt
            =f.label :last_name, 'Last Name'
            %span (required)
          %dd
            =f.text_field :last_name, required: true
        %dl
          %dt
            =f.label :city
          %dd
            =f.text_field :city
          %dt
            =f.label :state
          %dd
            =f.text_field :state
        %dl
          %dt
            =f.label :birthday
          %dd.inline
            =date_select :birthday, nil, order: [:month, :day, :year], prompt: true, start_year: Time.now.year - 5, end_year: 1900, selected: @user.birthday ? @user.birthday.to_date : nil
        %dl
          %dt
            =f.label :about, 'Things I love...'
          %dd
            =f.text_area :about, cols: 47, rows: 5
        %dl
          %dt
          %dd
            =f.submit 'Save Changes', class: 'btn btn-danger'
          %dd
            =link_to 'Cancel', user_path(@user), class: 'btn btn-outline-secondary'
    %aside.image
      %img{ src: 'https://s3-media4.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png', alt: 'drawing of a business'}
=render 'shared/footer'
