=render 'shared/generic_nav'
%main.account-form
  %section.account
    %div.credentials
      %h2
        Sign Up for Yelp
      %p
        %span.bold Connect with great local businesses
      %p.disclaimer
        By continuing, you agree to Yelp's
        %a{href: '#'} Terms of Service
        and acknowledge Yelp's
        =succeed '.' do
          %a{href: '#'} Privacy Policy
      =form_for @user do |f|
        -if @user.errors.any?
          %div{id: 'errors_explanation'}
            %h3.errors.alert.alert-danger
              Your account contains
              =pluralize(@user.errors.count, 'error')
            %ul
              -@user.errors.full_messages.each do |msg|
                -if msg == "Birthday"
                  %li
                    Invalid birthday
                -else
                  %li
                    #{msg}
        %dl.full-name
          %dt
          %dd.name
            =f.text_field :first_name, placeholder: 'First Name'
          %dd.name
            =f.text_field :last_name, placeholder: 'Lase Name'
        %dl
          %dt
          %dd
            =f.text_field :email, placeholder: 'Email'
          %dt
          %dd
            =f.password_field :password, placeholder: 'Password'
          %dt
          %dd
            =f.text_field :city, placeholder: 'City'
          %dt
          %dd
            =f.text_field :state, placeholder: 'State'
        %dl.birthday-select
          %dt
            =content_tag :span, class: 'bold' do
              Birthday
            =content_tag :span, class: 'small' do
              Optional
          %dd
            =date_select :birthday, nil, order: [:month, :day, :year], prompt: true, start_year: Time.now.year - 5, end_year: 1900, selected: @user.birthday ? @user.birthday.to_date : nil
        %dl
          %dt
          %dd.disclaimer.content-left
            You also understand that Yelp may send marketing emails about Yelp's
            products, services, and local events.
            %span.new-line You can unsubscribe at any time.
          %dt
          %dd
            =f.submit 'Sign Up'
        %p.content-right
          %span.small Already on Ylep?
          =link_to 'Log In', sign_in_path
  %aside.image
    %img{ src: 'https://s3-media4.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png', alt: 'drawing of a business'}
=render 'shared/footer'
