=render 'shared/nav'
=render 'shared/flash_notices'
%main.businesses
  %a.btn.btn-outline-danger{href: '#'}
    + Add New Business
  %p
    Showing 1 to 8 of 8
  %ul
    %li
      %header
        %h2
          1.
          %a{href: '#'} Hapa
          %a.btn.btn-danger{href: '#'}
            =fa_icon 'star'
            Write A Review
        %section
          %div.rating
            %div.rating-box
              %div.rating{ style: 'width: 50%' }
            %span
              5 reviews
            %div.tags
              $$$
              %span.middot &middot
              %a{href: '#'} Sushi
              %span.middot &middot
              %a{href: '#'} Restaurant
              %span.middot &middot
              %a{href: '#'} Sit down
          %p
            Easily the best sushi in Boulder. ...
            %a{href: '#'} Read More
      %aside.meta
        %ul
          %li
            720-333-9405
          %li
            Boulder
          %li
            Colorado
    %li
      %header
        %h2
          2.
          %a{href: '#'} 5 Guys
          %a.btn.btn-danger{href: '#'}
            =fa_icon 'star'
            Write A Review
        %section
          %div.rating
            %div.rating-box
              %div.rating{ style: 'width: 90%' }
            %span
              4 reviews
          %div.tags
            $$
            %span &middot
            %a{href: '#'} Burgers
            %span &middot
            %a{href: '#'} Restaurant
            %span &middot
            %a{href: '#'} Fast Food
        %section
          %p
            Easily the best fast food burgers in Denver. ...
            %a{href: '#'} Read More
      %aside.meta
        %ul
          %li
            720-333-9405
          %li
            Denver
          %li
            Colorado
  %nav{aria: {label: 'pagination'}}
    %ul.pagination
      %li.page-item.disabled
        %a.page-link{href: '#', aria: {label: 'Previous'}}
          %span{ aria: {hidden: true}} &laquo;
          %span.sr-only Previous
      %li.page-item.active
        %a.page-link{href: '#'} 1
      %li.page-item
        %a.page-link{href: '#', aria: {label: 'Next'}}
          %span{aria: {hidden: true}} &raquo;
          %span.sr-only Next
=render 'shared/footer'
