%section{id: 'footer'}
  %footer
    %div
      %header
        %h3
          About
      %ul
        %li
          %a{ href: '#' }
            About Yelp
        %li
          %a{ href: '#' }
            Careers
        %li
          %a{ href: '#' }
            Press
        %li
          %a{ href: '#' }
            Investor Relations
        %li
          %a{ href: '#' }
            Content Guidelines
        %li
          %a{ href: '#' }
            Terms of Service
        %li
          %a{ href: '#' }
            Privacy Policy
        %li
          %a{ href: '#' }
            Ad Choices
    %div
      %header
        %h3
          Discover
      %ul
        %li
          %a{ href: '#' }
            Yelp Project Cost Guides
        %li
          %a{ href: '#' }
            Collections
        %li
          %a{ href: '#' }
            Talk
        %li
          %a{ href: '#' }
            Events
        %li
          %a{ href: '#' }
            The Local Yelp
        %li
          %a{ href: '#' }
            Yelp Blog
        %li
          %a{ href: '#' }
            Support
        %li
          %a{ href: '#' }
            Yelp Mobile
        %li
          %a{ href: '#' }
            Developers
        %li
          %a{ href: '#' }
            RSS
    %div
      %header
        %h3
          Yelp for Business Owners
      %ul
        %li
          %a{ href: '#' }
            Claim your Business Page
        %li
          %a{ href: '#' }
            Advertise on Yelp
        %li
          %a{ href: '#' }
            Yelp Reservations
        %li
          %a{ href: '#' }
            Yelp WiFi
        %li
          %a{ href: '#' }
            Yelp Nowait
        %li
          %a{ href: '#' }
            Business Success Stories
        %li
          %a{ href: '#' }
            Business Support
        %li
          %a{ href: '#' }
            Yelp Blog for Business
        %li
          %a{ href: '#' }
            Yelp Blog for Business
        %li
          %a{ href: '#' }
            Owners
    %div
      %dl
        %dt
          %h3
            Languages
        %dd
          %a{ href: '#' }
            English
            =fa_icon 'caret-down'
        %dt
          %h3
            Countries
        %dd
          %a{ href: '#' }
            United States
            =fa_icon 'caret-down'
