%nav.navbar.navbar-expand
  %ul.navbar-nav
    %li.nav-item
      %h1{id: 'nav-logo'}
        =link_to 'yELp', root_path
    %li.nav-item
      %form{ method: 'get', action: '#' }
        %label{ for: 'find-q' }
          Find
        %input{ type: 'text', name: 'find_query', id: 'find-q', placeholder: 'movers, burgers...' }
        %label{ for: 'near-q'}
          Near
        %input{ type: 'text', name: 'near_query', id: 'near-q', placeholder: "#{current_user.city}, #{format_state(current_user.state)}" }
        %input{ type: 'submit', value: 'Search'}
    %li.nav-item
      %a{href: '#', data: {toggle: 'tooltip', placement: 'bottom', container: 'body'}, title: 'See All Buisnesses'}
        =fa_icon 'building'
    %li.nav-item
      %a{href: '#', data: {toggle: 'tooltip', placement: 'bottom'}, title: 'See All Reviews'}
        =fa_icon 'star'
    %li.dropdown.nav-item
      %a.dropdown-toggle{href: '#', role: 'button', id: 'dropdownMenuLink', data: {toggle: 'dropdown'}}
        =fa_icon 'user'
      %div.dropdown-menu{ aria: {labelledby: 'dropdownMenuLink'}}
        %section
          %ul
            %li
              %a{href: '#'}
                =fa_icon 'user'
            %li
              %dl
                %dt
                %dd
                  %a{href: '#'}
                    =current_user.first_name
                %dt
                %dd
                  =current_user.city
                %dt
                %dd
                  %ul
                    %li
                      =fa_icon 'building'
                      0
                    %li
                      =fa_icon 'star'
                      0
        %section
          %a.dropdown-item{href: '#'}
            =fa_icon 'user'
            About Me
          %a.dropdown-item{href: '#'}
            =fa_icon 'gear'
            Account Settings
        %section
          =link_to 'Log Out', log_out_path
