%div.alert.alert-light.alert-dismissible.fade.show.row{ role: 'alert' }
  %a.col.text-center
    =image_tag 'https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/925c74933340/assets/img/categories/movers.png',{ size: '36x36', class: 'align-middle' }
    Stress-free Moving
  %ul.nav.alert-nav.col
    %li
      %a.nav-link{ href: '#' }
        Moving Quotes
    %li
      %a.nav-link{ href: '#' }
        Cheap Movers
    %li
      %a.nav-link{ href: '#' }
        Local Movers
    %li
      %a.nav-link{ href: '#' }
        Long Distance Movers
    %li
      %a{data: {dismiss: 'alert'}, id: 'close'}
        =fa_icon 'close'
