%nav
  %ul
    %li
      %h1
        %a{href: '#'} yELp
    %li
      %form{ method: 'get', action: '#' }
        %label{ for: 'find-q' }
          Find
          %input{ type: 'text', name: 'find_query', id: 'find-q', placeholder: 'movers, burgers...' }
        %label{ for: 'near-q'}
          Near
          %input{ type: 'text', name: 'near_query', id: 'near-q', placeholder: 'Longmont, CO'}
        %input{ type: 'submit', value: 'Search'}
    %li
      %a{href: '#', data: {toggle: 'tooltip', placement: 'right', trigger: 'hover'}, title: 'See All Buisnesses'}
        =fa_icon 'building'
    %li
      %a{href: '#', data: {toggle: 'tooltip', placement: 'bottom'}, title: 'See All Reviews'}
        =fa_icon 'star'
    %li
      %a{href: '#'}
        =fa_icon 'user'
        =fa_icon 'caret-down'
