=render 'shared/nav'
%main.edit-business
  %section.clearfix
    %section
      %form{action: '#', method: 'post'}
        %h2
          Edit Hapa
        %dl
          %dt
            %label{for: 'name'} Name
          %dd
            %input{type: 'text', value: 'Hapa', id: 'name'}
          %dt
            %label{for: 'address_1'} Address 1
          %dd
            %input{type: 'text', value: '111 Boulder Way', id: 'address_1'}
          %dt
            %label{for: 'address_2'} Address 2
          %dd
            %input{type: 'text', value: '', id: 'address_2'}
          %dt
            %label{for: 'city'} City
          %dd
            %input{type: 'text', value: 'Boulder', id: 'city'}
          %dt
            %label{for: 'state'} State
          %dd
            %input{type: 'text', value: 'Colorado', id: 'state'}
          %dt
            %label{for: 'phone'} Phone
          %dd
            %input{type: 'text', value: '303 444 4030', id: 'phone'}
          %dt
            %label{for: 'price'} Price
          %dd
            %select{id: 'price'}
              %option{value: 5} $$$$$
              %option{value: 4} $$$$
              %option{value: 3, selected: true} $$$
              %option{value: 2} $$
              %option{value: 1} $
          %dt.tags
            %label{for: 'tags'} Tags
            %span.asterix *
            %span Separate tags with @
          %dd
            %input{type: 'text', value: '@sushi @sit down', id: 'tags'}
          %dt
            %dd
              %input.btn.btn-danger{type: 'submit', value: 'Submit'}
            %dd
              %a.btn.btn-outline-secondary{href: '#'} Cancel
    %aside.image
      %img{ src: 'https://s3-media4.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png', alt: 'drawing of a business'}
=render 'shared/footer'
