%section.hero
  %nav
    %ul.hero-nav
      %li
        %a{ href: '#' }
          Write a Review
      %li
        %a{ href: '#' }
          Events
      %li
        %a{ href: '#' }
          Talk
    %ul.hero-login
      %li
        %a{ href: '#' }
          Log in
      %li
        %a.button{ href: '#' }
          Sign Up
  %a{ href: '#' }
    %h1{ id: 'logo' }
      yELp
  %form{ method: 'get', action: '#' }
    %label{ for: 'find-q' }
      Find
      %input{ type: 'text', name: 'find_query', id: 'find-q' }
    %label{ for: 'near-q', placeholder: 'movers, burgers, bars, spas...'}
      Near
      %input{ type: 'text', name: 'near_query', id: 'near-q', placehoder: 'Longmont, CO'}
    %input{ type: 'submit', value: 'Search Icon'}
  %ul.sub-nav
    %li
      %a{ href: '#' }
        Movers
    %li
      %a{ href: '#' }
        Restaurants
    %li
      %a{ href: '#' }
        Home Services
    %li
      %a{ href: '#' }
        Delivery
    %a{ href: '/biz/revival-minneapolis' }
      %span
        Revival
    %p.photo-owner
      Photo by Ashley C.
%section.best-in-town
  %h2
    Find the Best Businesses in Town
  %ul
    %li
      %figure
        %a{ href: '#' }
          %img{ url: '', alt: 'dentist chair' }
          %figcaption
            Dentists
    %li
      %figure
        %a{ href: '#' }
          %img{ url: '', alt: 'phone being repaired' }
          %figcaption
            Phone Repair
    %li
      %figure
        %a{ href: '#' }
          %img{ url: '', alt: 'clothes hanging to be dry cleaned' }
          %figcaption
            Dry Cleaning
    %li
      %figure
        %a{ href: '#' }
          %img{ url: '', alt: 'massage chair' }
          %figcaption
            Massage
%main
  %section.yelp-area
    %h2
      Yelp Longmont
    %ul.cities
      %li
        %a{ href: '#' }
          Washington
      %li
        %a{ href: '#' }
          San Francisco
      %li
        %a{ href: '#' }
          New York
      %li
        %a{ href: '#' }
          San Jose
      %li
        %a{ href: '#' }
          Los Angeles
      %li
        %a{href: '#' }
          Chicago
      %li
        %a{href: '#' }
          More Cities
    %div.container.cards
      %div.full-width-card
        %h3
          The Local Yelp
        %a{ href: '#' }
          %img{ url: '#', alt: 'food' }
        %p
          %a{ href: '#' }
            Holy donuts also, jelly-filled, and powdered, and iced... spinkles!
          Sweet, sticky, doughy, and straight up delicious... there is nothing
          quite like a donut. Today is National Donut Day. National Donut Day?
          You read that right. National Do...
          %span.footer
            The Local Yelp
        %a{ href: '#' }
          See more
      %aside
        %h3
          Official Yelp Event
        %img{ url: '#', alt: 'yogurt and fruit in a coconut split in half' }
          %p
            %a{ href: '#' }
              OYE: Yelp Elite Pau Hana Party!
            Ahhh "pau hana"... that magical time after work. A time for
            relaxation, informal...
            %span.footer
              Tue, Jul 16, 5:30 pm - 7:30 pm
          %a{ href: '#' }
            See all events
    %div.container.cards
      %div.full-width-card
        %img{ url: '', alt: 'Richie W.' }
        %a{ href: '#' }
          Richie W.
        %div.person-meta
          %span
            4
          %span
            67
          %a{ href: '#' }
            Elite '19
          %p
            Wrote a review for
            %a{ href: '#' }
              Walnut Cafe
          %p.review-header
            Review of the Day
          %div.rating
            %img{ url: '', alt: '4 stars' }
            %span
              3/10/2019
          %p.full-width-card-review
            Have eaten at all 3 fabulous locations of the Walnut Cafe, and
            really have to say that they are consistently good across the
            board. Delicious, varied menu with generous portions - something
            for every taste. Fun and casual environment - everyone is made
            to feel welcomed. The staff are all fantastic, friendly, engaging,
            and damn good at their jobs. Really love this place and highly
            recommend checking them out here in B...
            %a{ href: '#' }
              Continue reading
          %a{ href: '#' }
            Read Previous reviews
        %aside.recent-collections
          %ul
            %li
              %a{ href: '#' }
                %img{ url: '', alt: 'food' }
            %li
              %a{ href: '#' }
                My longmont Favorites
            %li
              %span
                14 Places &middot; By
              %a{ href: '#' }
                Delaney D.
          %ul
            %li
              %a{ href: '#' }
                %img{ url: '', alt: 'food' }
            %li
              %a{ href: '#' }
                My longmont Favorites
            %li
              %span
                14 Places &middot; By
              %a{ href: '#' }
                Delaney D.
          %ul
            %li
              %a{ href: '#' }
                %img{ url: '', alt: 'food' }
            %li
              %a{ href: '#' }
                My longmont Favorites
            %li
              %span
                14 Places &middot; By
              %a{ href: '#' }
                Delaney D.
          %a{ href: '#' }
            Browse more collections
    %div.recent-activity
      %h2
        Recent Activity
      %div.third-card
        %header
          %a{ href: '#' }
            BuckeyeinCO..
          %span
            Wrote a review
        %figure
          %img{ url: '', alt: 'picture of food' }
          %figcaption
            %a{ href: '#' }
            Little Tibet
        %div.rating
          %img{ url: '', alt: '5 stars' }
        %p
          Delicious food and wonderful friendly staff exceptional clean can't
          wait for my 2nd visit!! Excellent addition to NOBO
        %ul.reviw-meta
          %li
            Useful image
          %li
            Funny image
          %li
            Cool image
          %li
            Send a Compliment image
      %div.third-card
        %header
          %a{ href: '#' }
            Jane R.
          %span
            Wrote a review
        %figure
          %img{ url: '', alt: 'picture of food' }
          %figcaption
            %a{ href: '#' }
            Lyons Fork
        %div.rating
          %img{ url: '', alt: '1 star' }
        %p
          This is hands down the worst food I have ever eaten! So bad that my
          kids wouldn't even eat the pasta and they will eat pasta out of a
          can! The "pasta sauce" tasted like stale ketchup. None of the
          entr...
          %a{ href: '#' }
            Continue reading
        %ul.reviw-meta
          %li
            Useful image
          %li
            Funny image
          %li
            Cool image
          %li
            Send a Compliment image
      %div.third-card.images
        %header
          %a{ href: '#' }
            Jane R.
          %span
            Added 5 photos
          %a{ href: '#' }
            COllision Brewing Company
        %figure
          %a{ href: '#' }
            %img{ url: '', alt: 'picture of food' }
            %a{ href: '#' }
              Facebook Like
        %figure.half
          %a{ href: '#' }
            %img{ url: '', alt: 'picture of food' }
            %a{ href: '#' }
              Facebook Like
        %figure.half
          %a{ href: '#' }
            %img{ url: '', alt: 'picture of food' }
            %a{ href: '#' }
              Facebook Like
        %a{ href: '#' }
          Show all 5 photos
      %a{ href: '#' }
        Show more activity in Longmont
%section
  %h2
    Browse Businesses by Category
  %a.category.one-quarter{ href: '' }
    %img{ url: '', alt: 'Eating Utensils' }
    Restaurants
  %a.category.one-quarter{ href: '' }
    %img{ url: '', alt: 'Shopping Bag' }
    Shopping
  %a.category.one-quarter{ href: '' }
    %img{ url: '', alt: 'Martini Glass' }
    Nightlife
  %a.category.one-quarter{ href: '' }
    %img{ url: '', alt: 'Soccer Ball' }
    Active Life
  %a.category.one-quarter{ href: '' }
    %img{ url: '', alt: 'Mirror' }
    Beauty & Spas
  %a.category.one-quarter{ href: '' }
    %img{ url: '', alt: 'Car' }
    Automotive
  %a.category.one-quarter{ href: '' }
    %img{ url: '', alt: 'Wrench' }
    Home Services
  %a.category.one-quarter{ href: '' }
    %img{ url: '', alt: 'more symbol' }
    More Categories
%section
  %h2
    Yelp Mobile Apps
  %div.half-card
    %a{ href: 'http://itunes.apple.com/US/app/yelp' }
      %img{ url: '', alt: 'iphone, apple watch and ipad' }
  %div.half-card
    %a{ href: 'https://play.google.com/store/apps', alt: 'android phone' }
%footer
  %h3
    About
  %ul.quarter
    %li
      %a{ href: '#' }
        About Yelp
    %li
      %a{ href: '#' }
        Careers
    %li
      %a{ href: '#' }
        Press
    %li
      %a{ href: '#' }
        Investor Relations
    %li
      %a{ href: '#' }
        Content Guidelines
    %li
      %a{ href: '#' }
        Terms of Service
    %li
      %a{ href: '#' }
        Privacy Policy
    %li
      %a{ href: '#' }
        Ad Choices
  %h3
    Discover
  %ul.quarter
    %li
      %a{ href: '#' }
        Yelp Project Cost Guides
    %li
      %a{ href: '#' }
        Collections
    %li
      %a{ href: '#' }
        Talk
    %li
      %a{ href: '#' }
        Events
    %li
      %a{ href: '#' }
        The Local Yelp
    %li
      %a{ href: '#' }
        Yelp Blog
    %li
      %a{ href: '#' }
        Support
    %li
      %a{ href: '#' }
        Yelp Mobile
    %li
      %a{ href: '#' }
        Developers
    %li
      %a{ href: '#' }
        RSS
  %h3
    Yelp for Business Owners
  %ul.quarter
    %li
      %a{ href: '#' }
        Claim your Business Page
    %li
      %a{ href: '#' }
        Advertise on Yelp
    %li
      %a{ href: '#' }
        Yelp Reservations
    %li
      %a{ href: '#' }
        Yelp WiFi
    %li
      %a{ href: '#' }
        Yelp Nowait
    %li
      %a{ href: '#' }
        Business Success Stories
    %li
      %a{ href: '#' }
        Business Support
    %li
      %a{ href: '#' }
        Yelp Blog for Business
    %li
      %a{ href: '#' }
        Yelp Blog for Business
    %li
      %a{ href: '#' }
        Owners
  %dl
    %dt
      %h3
        Languages
    %dd
      %a{ href: '#' }
        English
    %dt
      %h3
        Countries
    %dd
      %a{ href: '#' }
        United States
