%header.logo-bar
  %h1{ id: 'logo' }
    %a{ href: '#' }
      yELp
%main.account-form
  %section.account
    %div.credentials
      %h2
        Log In to Yelp
      %p
        %span.bold New to Yelp?
        %a{ href: '#' }
          Sign Up
      %p.disclaimer
        By logging in, you agree to
        %a{href: '#'} Terms of Service
        and
        =succeed '.' do
          %a{href: '#'} Privacy Policy
      %form{action: '#', method: 'POST'}
        %dl
          %dt
          %dd
            %input{type: 'text', placeholder: 'Email', id: 'email'}
          %dt
          %dd
            %input{type: 'password', id: 'password', placeholder: 'password'}
          %dt
          %dd
            %input{type: 'submit', value: 'Log In'}
        %p
          %span.small New to Yelp?
          %a{href: '#'}
            Sign up
  %aside.image
    %img{ src: 'https://s3-media4.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png', alt: 'drawing of a business'}
=render 'shared/footer'
