=render 'shared/nav'
%main.edit-review
  %section.clearfix
    %section
      %form{action: '#', method: 'post'}
        %h2
          Create a review for
          %a{href: '#'} Hapa
        %dl
          %dt
          %dd
            %select{id: 'rating', required: true}
              %option{value: '', selected: true} Rating
              %option{value: 5}
                &starf; &starf; &starf; &starf; &starf;
              %option{value: 4}
                &starf; &starf; &starf; &starf;
              %option{value: 3}
                &starf; &starf; &starf;
              %option{value: 2}
                &starf; &starf;
              %option{value: 1}
                &starf;
          %dt
          %dd
            %textarea{placeholder: 'Review', id: 'review', cols: '47', rows: '10'}
          %dt
            %dd
              %input.btn.btn-danger{type: 'submit', value: 'Submit'}
            %dd
              %a.btn.btn-outline-secondary{href: '#'} Cancel
    %aside.image
      %img{ src: 'https://s3-media4.fl.yelpcdn.com/assets/2/www/img/7922e77f338d/signup/signup_illustration.png', alt: 'drawing of a business'}
=render 'shared/footer'
