/* Universal */
ul {
  list-style: none;
  padding-inline-start: 0;
}

input:hover, input:focus {
  outline: none;
}

a.button {
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 8px 20px;
}

a.button:hover {
  background: #fff;
  color: #666;
  text-decoration: none;
}

h2 {
  color: red;
  font-size: 25px;
  margin-bottom: 30px;
  padding-top: 40px;
  text-align: center;
}

h3 {
  color: red;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 45px;
  text-align: center;
}

.flex-quarter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 980px;
}

.flex-third {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 980px;
}

.card.content-center {
  text-align: center;
}

.card img {
  display: block;
}

.card figcaption {
  border: 1px solid #ececec;
  color: #000;
  margin-top: 10px;
}

.card a:hover {
  text-decoration: none;
}

.card:hover figcaption {
  color: #0073BB;
}

.best-in-town .card img {
  height: 160px;
  width: 220px;
}

.best-in-town .card:hover {
  box-shadow: 5px 5px 5px #b7b7b7;
}

.rating-box {
  padding-left: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 18px;
  font-family: FontAwesome;
  display: inline-block;
  color: #ffff00;
}

.rating-box:before {
  content: "\f006 \f006 \f006 \f006 \f006"
}

.rating-box .rating {
  position: absolute;
  left: 10px;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #ffff00;
}

.rating-box .rating:before {
  content: "\f005 \f005 \f005 \f005 \f005"
}

/* Hero Section */
.alert-nav {
  font-size: 12px;
}

.alert-nav li a {
  padding-right: 0;
  margin-right: 0;
}

.alert-nav .close {
  border: none;
  color: black;
  padding: 0;
  display: inline-block;
}

.hero .button {
  margin-left: 28px;
}

.hero {
  background-color: #333;
  background-image: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/507de6a720e4/assets/img/home/hero_photos/pkwm_5P7XMoIXHOzQR0Y7A.jpg);
  background-size: cover;
  background-position: 50%;
  height: 570px;
}

.hero > nav {
  font-size: 0;
  margin: 0 auto;
  padding-top: 20px;
  width: 70%;
}

.hero > nav li {
  display: inline-block;
}

.hero > nav li a {
  color: #fff;
}

.hero-nav {
  display: inline-block;
  font-size: 16px;
}

.hero-nav {
  width: 50%;
}

.hero-nav li {
  margin-right: 22px;
}

.hero-nav li a, .hero-login li:first-of-type a {
  padding: 0 5px 5px 5px;
}

.hero-nav li a:hover, .hero-login li:first-of-type a:hover {
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.hero-login {
  display: inline-block;
  font-size: 14px;
  text-align: right;
  width: 50%;
}

#logo {
  font-family: 'Varela Round', sans-serif;
  font-size:  56px;
  margin-bottom: 40px;
  margin-top: 50px;
  text-align: center;
}

#logo > a {
  color: #fff;
}

#logo > a:hover {
  text-decoration: none;
}

.hero > nav + a {
  text-decoration: none;
}

.hero > form {
  font-size: 0;
  text-align: center;
}

.hero > form label {
  background-color: #fff;
  border: 1px solid #fff;
  color: #666;
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
}

.hero > form label:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.hero > form input[type="text"] {
  border: none;
  font-size: 16px;
  padding: 8px 0 8px 8px;
  width: 424px;
}

.hero > form label:first-of-type input {
  border-right: 1px solid #666;
  margin-right: 0;
}

.hero > form label:last-of-type {
  margin-left: 0;
}

.hero > form input[type="submit"] {
  background-color: red;
  border: 1px solid red;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 8px
}

.sub-nav {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.sub-nav li {
  display: inline-block;
  padding-right: 20px;
}

.sub-nav a {
  color: #fff;
}

.photo-credit {
  color: #fff;
  text-align: center;
}

div.photo-credit {
  margin-top: 170px;
}

.photo-credit a {
  color: #fff;
  font-weight: bold;
}

.photo-credit a:hover {
  text-decoration: none;
}

/* best in town section */
.best-in-town {
  background-color: #f5f5f5;
  padding-bottom: 40px;
}

/* yelp area section */
.cities {
  border-bottom: 2px solid #cecece;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  width: 980px;
}

.cities li {
  display: inline-block;
}

.cities li a {
  color: #4e4e4e;
  padding: 0 10px 10px 10px;
}

.cities li a:hover {
  text-decoration: none;
  border-bottom: 2px solid #D32323;
}

.new-businesses .card img {
  height: 180px;
  width: 300px;
}

.new-businesses .card p {
  margin-bottom: 5px;
  padding-left: 10px;
}

.new-businesses .card p:last-of-type {
  color: #F15C00;
  margin-bottom: 15px;
}

.new-businesses a:nth-of-type(2) {
  font-size: 19px;
  padding-left: 10px;
}

.new-businesses > p {
  margin-top: 15px;
  text-align: center;
}

.highlight-reel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  margin: 0 auto;
  width: 980px;
}

.highlight-reel .card {
  height: 160px;
  padding: 10px 10px 20px 10px;
}

.highlight-reel .local-yelp > .card a {
  font-size: 20px;
}

section.footer {
  color: #a5a5a5;
}

.official-yelp-event > .card a {
  font-size: 20px;
}

.highlight-reel .link {
  text-align: center;
  padding-top: 10px;
}

span.date {
  color: #666;
}

.review-of-the-day .card, .recent-collection .card {
  height: 300px;
}

.review-of-the-day .rating, .recent-activity .rating {
  left: 0;
  font-size: 20px;
}

.review-of-the-day .rating-box, .recent-activity .rating-box {
  padding-left: 0;
  font-size: 20px;
}

.local-yelp, .official-yelp-event {
  grid-row: 1;
}

.review-of-the-day, aside.recent-collection {
  grid-row: 2;
}

aside.recent-collection {
  text-align: center;
}

span.date {
  font-size: 14px;
}

.review-of-the-day i, .person-meta span.name {
  color: #f15c00;
}

.review-of-the-day .person-meta a.name:hover {
  color: #f15c00;
  text-decoration: underline;
}

.person-meta span {
  margin-right: 10px;
}

.recent-collection ul li:first-of-type a {
  font-size: 16px;
  font-weight: bold;
}

.recent-collection ul li:first-of-type {
  padding-bottom: 32px;
}

.recent-collection ul:first-of-type, .recent-collection ul:nth-last-of-type(2) {
  border-bottom: 1px solid #cecece;
}

.recent-collection ul li:last-of-type {
  padding-bottom: 5px;
}

.recent-collection ul li:last-of-type span {
  color: #999;
}

.recent-activity {
  margin: 0 auto;
  width: 980px;
}

.trunc-link {
  display: block;
}

.recent-activity .restaurant-link {
  border-bottom: 1px solid #cecece;
  display: block;
  padding-bottom: 15px;
}

.recent-activity .card {
  float: left;
  width: 316px;
  margin-bottom: 16px;
  margin-right: 16px;
  max-height: 405px;
  height: auto;
  padding: 10px;
}

.recent-activity .card:nth-of-type(1n+3) {
  margin-right: 0;
}

.review-meta-links {
  border-top: 1px solid #cecece;
  padding-top: 5px;
}

.review-meta-links li {
  display: inline-block;
  font-size: 25px;
  margin-right: 15px;
}

.review-meta-links li:last-of-type {
  float: right;
  margin-right: 0;
}

.review-meta-links i {
  color: #999;
}

.recent-activity .card + p {
  display: block;
  clear: both;
  text-align: center;
  padding-top: 10px;
}

#footer {
  background: #F5F5F5;
  padding-bottom: 30px;
}

footer {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 980px;
}

footer header h3, footer dt h3 {
  text-align: left;
}

/* login */
.logo-bar {
  background-color: #D32323;
  margin-bottom: 150px;
  padding: 15px 0;
}

.logo-bar #logo {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.account-form {
  display: grid;
  grid-column-gap: 100px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 150px;
}

.disclaimer {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.small {
  color: #ABABAB;
  font-size: 14px;
}

.small + a {
  font-size: 14px;
}

.account {
  display: block;
  width: 100%;
}

.credentials {
  display: block;
  float: right;
  text-align: center;
  width: 320px;
}

.account dl + p {
  text-align: right;
}

.credentials input {
  border: 1px solid #999;
  border-radius: 4px;
  width: 100%;
  height: 34px;
}

.credentials input[type="submit"] {
  background: #D32323;
  color: #fff;
  height: 40px;
  font-weight: bold;
}

.credentials h2 {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 0;
}

/* Sign Up Page */
dl.full-name {
  font-size: 0;
  margin-bottom: -5px;
}

.full-name .name:first-of-type {
  font-size: 16px;
  margin-right: 1%;
}

.full-name .name:last-of-type {
  font-size: 16px;
  margin-left: 1%;
}

dd.name {
  display: inline-block;
  width: 49%;
}

.birthday-select {
  font-size: 0;
  text-align: left;
}

.birthday-select select {
  border-radius: 4px;
  font-size: 16px;
  height: 30px;
  margin-right: 3%;
  width: 31%;
}

.birthday-select select:invalid {
  color: #999;
}

.birthday-select select:last-of-type {
  margin-right: 0;
}

.birthday-select option:first-of-type {
  color: #999;
}

.birthday-select dt {
  font-size: 16px;
}

.content-left {
  text-align: left;
}
